/* Header */
.header {
    background-color: #fff;
}

.header__navbar {
    display: flex;
    height: 54px;
    justify-content: space-between;
    top: 4px;
    margin-bottom: 10px;
    position: relative;
}

.header__navbar--list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.header__navbar--list:hover {
    cursor: pointer;
}

.header__navbar--img {
    display: flex;
    justify-content: flex-end;
}

.header__navbar--img-logo {
    width: 80%;
}

.header__navbar--item {
    display: inline-block;
}

.header__navbar-text {
    font-size: 2.4rem;
    margin: 0;
}

.header__navbar-light-text {
    color: var(--primary-color);
    font-weight: 400;
}

.header__navbar--button {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 26px;
    border-radius: 150px;
    border: 1px solid var(--primary-color);
    height: 44px;
    width: 44px;
    background-color: #fff;
    position: relative;
    top: 3px;
}

.header__navbar--button:hover {
    cursor: pointer;
}

.header__navbar--search {
    margin-left: 32px;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
}

.header__navbar--search-input {
    width: 420px;
    height: 44px;
    border-radius: 50px;
    position: relative;
    top: 3px;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    font-size: 14px;
    padding: 0 45px 0 20px;
    font-weight: 300;
    line-height: 1.4rem;
}

.header__navbar--search-icon {
    position: relative;
    left: -36px;
    font-size: 1.8rem;
    color: var(--primary-color);
    top: 3px;
}

.header__navbar--notify-icon {
    font-size: 2.6rem;
    color: #bbb;
}

.header__navbar--avt-img {
    width: 44px;
    height: 44px;
    border-radius: 150px;
    margin-left: 22px;

}

.header__element {
    height: 52px;
    background-color: var(--primary-color);
}

.header__bottom {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.header__element--list {
    padding-left: 0;
}

.header__element--item {
    display: inline-block;
    max-height: 52px;
    position: relative;
}

.header__element--item:hover {
    background-color: #f29c57;
    /* transition: 0.3s; */
    color: #fff;
}

.header__element--text {
    text-decoration: none;
    color: #fff;
    margin: 20px 10px 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 350;
}

.header__element-icon {
    position: relative;
    margin-left: 3px;
    top: -3px;
    font-size: 1.4rem;
}

/* .header__middle {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
} */

.header__element--category {
    position: absolute;
    margin-top: 5px;
    display: none;
}

.header__element--item-down:hover .header__element--category {
    display: block;
}

.header__element--category-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0px;
    background-color: #fff;
    z-index: 1;
}

.header__element--category-item {
    font-size: 1.4rem;
    padding: 15px 60px 15px 0;
    /* z-index: 1; */
    color: rgb(145, 142, 142);
}

.header__element--ranking {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
}

.header__element--ranking-list {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.header__element--ranking-item {
    min-width: 120px;
    font-size: 1.6rem;
    padding: 25px 0 25px 9px;
    z-index: 2;
    font-weight: 400;

}

.header__element--item-down:hover .header__element--ranking {
    display: block;
}

/* Container */
.title {
    border: 1px solid rgb(11, 36, 224);
    border-left: 4px solid rgb(11, 36, 224);
    margin: 10px 0;
    background-color: #fff;
    height: 52px;
}

.title--text {
    font-size: 1.6rem;
    padding-left: 16px;
    font-weight: 300;
    color: rgb(49,112,143);
    font-weight: 1.4rem;
}

.title--link {
    text-decoration: none;
    color: var(--primary-color);
}

.newcomic {
    display: flex;
    width: 100%;
    justify-content: center;
}

.newcomic-list {
    max-height: 410px;
    list-style: none;
    padding: 0 3px 10px 0;
    position: relative;
}

.bottom-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
}

.newcomic-item {
    position: relative;
    margin-bottom: 3px;
}

.newcomic-caption {
    position: absolute;
    top: 150px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    padding-left: 8px;
}

.newcomic-chapter {
    position: absolute;
    top: -140px;
    color: #fff;
    z-index: 1;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 3px;
    background-color: #f29c57;
}

.newcomic-link-img {
    max-width: 600px;
    max-height: 410px;
    object-fit: cover;
}

.newcomic-special {
    top: 360px;
}

.newcomic-chapter-special {
    top: -345px;
}

/* Comic favorite */
.comic__favorite--label {
    display: flex;
    align-items: center;
    color: #FF2853;
    padding-top: 12px;
}

.comic__favorite--label-icon {
    font-size: 1.8rem;
    position: relative;
    top: -1px;
}

.comic__favorite--label-text {
    padding-left: 3px;
    font-size: 2.2rem;
}

.comic__favorite--item {
    position: relative;
}

.comic__info {
    max-width: 167px;
}

.comic__info-text {
    font-size: 1.8rem;
    height: 1.8rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 12px auto 0 auto;
    line-height: 1.8rem;
}

.comic__info-text:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.comic__info-chapter {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.comic__info-chapter:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.comic__favorite-img {
    border-radius: 5px;
    width: 167px;
    height: 206px;
}

.comic__notice {
    display: flex;
    position: absolute;
    top: 3px;
    margin: 0 10px;
    align-items: center;
}

.comic__notice-block {
    padding-right: 5px;
}

.comic__notice-time {
    font-size: 1.3rem;
    color: #fff;
    background-color: #56CCF2;
    border-radius: 5px;
    padding: 3px 5px;
}

.comic__notice-hot {
    font-size: 1.3rem;
    color: #fff;
    background-color: red;
    padding: 3px 5px;
    border-radius: 5px;
    -webkit-animation: pulse 1s steps(5, start) infinite;
    animation: pulse 1s steps(5, start) infinite;
}

.comic__favorite--icon {
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.comic__favorite--icon-left {
    position: absolute;
    top: 78px;
    background-color: rgba(235,235,235, 0.6);
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding-left: 5px;
    left: 10px;
}

.comic__favorite--icon-left:hover {
    background-color: rgba(235,235,235, 0.5);
    cursor: pointer;
}

.comic__favorite--icon-right {
    position: absolute;
    top: 78px;
    background-color: rgba(235,235,235, 0.6);
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding-right: 5px;
    right: 35px;
}

.comic__favorite--icon-right:hover {
    background-color: rgba(235,235,235, 0.5);
    cursor: pointer;
}

.comic__favorite--icon-icon {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 22px;
    font-size: 1.2rem;
    color: rgb(79, 77, 77);
}

.comic__new--label {
    display: flex;
    align-items: center;
    color: #56CCF2;
    font-size: 2.2rem;
    margin: 7px 0;
}

.comic__new--label--icon {
    padding-right: 5px;
}